<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carga de producto</title>
    <script defer src="../public/js/main.js"></script>
</head>
<body>
    <section class="cargar-producto">
        <h3>Alta de producto</h3>
        <span>Completa los datos los siguientes datos :</span>
        <form class="formulario-alta" id="formulario-producto">
            <label for="">Codigo:
                <input type="text" name="codigo">
            </label>
            <label for="">nombre:
                <input type="text" name="nombre">
            </label>
            <label for="">Precio:
                <input type="number" name="precio">
            </label>

            <label for="">Imagen:
                <input type="text" name="img">
            </label>

            <label for="">Categoria:
                <input type="text" name="categorias">
            </label>
            <!--Cambiar por chekbox-->
            <label for="">Activo:
                <input type="text" name="activo">
            </label>

            <button type="submit">Confirmar</button>
            <button type="button">Cancelar</button>
        </div>

        <div class="producto" id="producto-alta">

        </div>
    </section>
</body>
</html>