<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="../public/js/modificar.js"></script>
</head>
<body>
    <section>
        <div class="contenedor-producto">
            <h2>Consultar procuto</h2>
            <form id="formulario-baja">
                <label for="idProd">Id producto</label>
                <input type="number" name="idProd" id="idProd" required>

                <button type="submit">Consultar Producto</button>
            </form>
        </div>

        <form id="formulario-editar-producto" class="form-editar-producto">

        </form>
            <ul id="lista-id">
                <!--lo cargamos en js-->
            </ul>
        </div>
    </section>
</body>
</html>